
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">

            <h2>Login</h2>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="user.email" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="user.password" />
                </div>
                
                <button (click)="onSubmit()" type="submit" class="btn btn-dark">Login</button>

             
          </div>
      </div>
  </div>
</div>