<div class="content">

  <select class="form-select" style="height: 37px; width: 200px;"
  [(ngModel)]="  selectedValue" >
    <option *ngFor="let item of home" value="{{item.name}}">
      {{item.name}}</option>          
  </select>       

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of students">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.image}}" style="height: 400px; object-fit: cover;">
        <mat-card-content>
          <p>
            Species: {{item.species}}
          </p>
          <p>
            Gender: {{item.gender}}
          </p>
          <p>
            Wand: {{item.wand.wood}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>