<div class="container">
  <h1 class="title">User Profile</h1>
  <div class="row cf">

    <div id="card1" class="card four col-4">
      <div class="image-wrapper"></div>
      <h3 class="name">Amy Smith</h3>
      <div class="info cf">
        <div class="four col"><span class="number">100</span>Posts</div>
        <div class="four col"><span class="number">28</span>Tasks</div>
        <div class="four col"><span class="number">179</span>Likes</div>
      </div>
      <div class="options">
        <ul>
          <fa-icon [icon]="faCoffee"></fa-icon>
          <li><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>Edit profile</li>
          <!-- <li><span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>Send a message</li> -->
        </ul>
      </div>
    </div>

    <div id="card2" class="card four col-7 ml-5">
      
      <div class="wrapper">
        <div class="form-group">
          <label>Full name</label>
          <input type="text" class="form-control"/>
        </div>
          
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control"/>
          </div>

          <div class="form-group">
            <label>Phone number</label>
            <input type="text" class="form-control"/>
          </div>

          <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control"/>
          </div>

          <div style="display: flex; justify-content: flex-end;">
            <button type="submit" class="btn btn-dark">Save</button>
          </div>
          
      </div>
      

    </div>    

  </div>
</div>
